@import '../../_global_styles/colors.scss';
@import '../../_global_styles/responsive.scss';

.button-view-container {
  background-color: $displayGray;
  color:$white;
  width: 90%;
  border: solid 1px $numberGray;
  display: flex;
  flex-flow: row wrap;
}