@import '../../_global_styles/colors.scss';
@import '../../_global_styles/responsive.scss';
// $orange: #F8800F;
// $liteGray: #ACAAAD;
// $numberGray: #393B38;
// $displayGray: #111113;
// $white: #ffffff;

.button-view-container {
  background-color: $displayGray;
  color:$white;
  width: 90%;
  border: solid 1px $numberGray;
  display: flex;
  flex-flow: row wrap;
  
}