@import '../_global_styles/colors.scss';
@import '../_global_styles/responsive.scss';

.face-view-container {
  max-width: 600px;
  width: 100%;
  margin: 20px 0;
  padding: 20px 0;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: $displayGray;
}