@import '../../_global_styles/colors.scss';
@import '../../_global_styles/responsive.scss';
// $orange: #F8800F;
// $liteGray: #ACAAAD;
// $numberGray: #393B38;
// $displayGray: #111113;
// $white: #ffffff;

.button-container {
  color:$white;
  font-size: 2em;
  width: 100px;
  height: 100px;
  border: 0px;
  border-radius: 50px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-button {
  background-color: $numberGray;
}

.operator-button {
  background-color: $orange;
}

.misc-button {
  color: $displayGray;
  background-color: $liteGray;
}

.zero-button {
  background-color: $numberGray;
}