@import '../../_global_styles/colors.scss';
@import '../../_global_styles/responsive.scss';

.button-container {
  color:$white;
  font-size: 2em;
  width: 90px;
  height: 90px;
  border: 0px;
  border-radius: 50px;
  margin: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.number {
  background-color: $numberGray;
    &:active {
      background-color: darken( $numberGray, 10% );
    }
  }
  
  .operator {
    background-color: $orange;
      &:active {
        background-color: darken( $orange, 10% );
      }
    }
    
  .misc {
    color: $displayGray;
    background-color: $liteGray;
    &:active {
      background-color: darken( $liteGray, 10% );
    }
  }
      
  .zero {
    background-color: $numberGray;
    // width: 200px;
    // grid-area: 2fr;
    grid-column: 1 / span 2;
        &:active {
          background-color: darken( $numberGray , 10% );
        }
  }