@import '../../_global_styles/colors.scss';
@import '../../_global_styles/responsive.scss';

.button-container {
  color:$white;
  font-size: 2em;
  width: 90px;
  height: 90px;
  border: 0px;
  border-radius: 50px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  background-color: $numberGray;
}

.operator {
  background-color: $orange;
}

.misc {
  color: $displayGray;
  background-color: $liteGray;
}

.zero {
  background-color: $numberGray;
  width: 200px;
}